.footer{
    background-color:black;
    width:100%;
}
.footer h3,p{
    color:greenyellow;
}
.footer ul , span{
    color:rgb(8, 247, 135);
    display: inline-flex;
    margin-right:35px;
}

.social li{
    list-style-type: none;
    padding:0 12px;
}
.frontend li, .backend li{
    list-style-type: none;
}
.footer h4{
    color:white;
}
.footerContent{
    position:relative;
}
.maintain span{
    margin-left:35px;
    padding-bottom:12px;
}
.footLogo{
    margin-top:100px;
    margin-right:500px; 

  
}