.title{
    position:relative;
   margin-right:1225px;
   margin-top:35px;
   color:rgb(99, 99, 99);
    
}
.navbar{
    width:100%;
    
}
.navbar ul{
    display:inline-flex;
   
}
.navbar li{
    list-style-type:none;
    padding:18px;
    margin:2px;
   
}
.navbar li:hover{
    margin:0px;
    border-top:4px solid rgb(0, 207, 35);
    cursor:pointer;
    padding:8px;
}
.logo{
    float:left;
    margin-left:20px;
    margin-top:-60px;
    
}
.contactHead{
    float:right;
    margin-right:12px;
    margin-top:-80px;

}
.contactHead a{
    text-decoration:none;
    color:black;
}